*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; 
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

img {
  border-style: none;
}
