// Colors
$brand-pink: #FF70D9;
$brand-black: #0000;
$brand-white: #fff;
$brand-yellow: #EBFF00;
$brand-olive: #98A61F;
$brand-dark-blue: #0D1E48;

// Sizes
$header-height-mobile: 48px;
$header-height-desktop: 80px;

// Breakpoints
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1248px;

// Button
$cta-bg: $brand-yellow;
$cta-text: #0B0B0B;
$cta-border: $brand-yellow;
$cta-hover-bg: $brand-olive;
$cta-hover-text: $brand-olive;
$radius-pill: 100px;